<!-- We include the sidebar as it is shared across two screens. -->
<div class="container-fluid">
	<div class="row">

		<div class="col-md-12" id="dishDetailView">
			<div class="row">
				<div class='col-md-6'>
					<div class="col-md-6">
						<div class="row">
							<input type="text" ng-model="id" ng-keyup="$event.keyCode == 13 && artistSearch(id)"/>
							<button ng-click="artistSearch(id)" style="border: none;"><span class="glyphicon glyphicon-search"></span></button>
						</div>
						<div class="row">
							<h1 id="artistName">{{artist.artists.items[0].name}}</h1>
							<img style='height: 300px;' ng-src="{{artist.artists.items[0].images[0].url}}"/>
						</div>

					</div>
					<div class="col-md-6" ng-repeat="i in artist.artists.items[0].genres">
						<div class="row">
							<h5>{{i}}</h5>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row" ng-repeat="i in album.items">
						<div class="col-md-6">
							<h4 style="text-decoration: underline;">{{i.name}}</h4>
						</div>
						<div class="col-md-6">
							<img style='height: 70px; float: right;' ng-src="{{i.images[0].url}}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>