<div class="container-fluid" id="body2">
	<div class="row">
		<div class="col-md-9" id="box2">
			<div class="row" id="header2">
				<ng-include src="'partials/header.html'"></ng-include>
			</div>

			<div class="row">
				<div class="col-md-12" id="box">
					<div class="row">
						<div class="col-md-4">
							<h2>{{selectedUser.PlaylistName}}</h2>
						</div>
						<div class="col-md-3">
							<h3>Rating: {{currentRating}}</h3>
						</div>
						<div class="col-md-2">
							<h4 style="padding-top:1em;"><a href="" id="sortLink" ng-click="upvotePlaylist(selUser.id, playlistKey)"><span class="glyphicon glyphicon-thumbs-up"></span></a>
							<a href="" id="sortLink" ng-click="downvotePlaylist(selUser.id, playlistKey)"><span class="glyphicon glyphicon-thumbs-down"></span></a></h4>
						</div>
					</div>

					
					<div class="row" id="searchResult">
						<a href="" id="sortLink" ng-click="sortTracks()">
							<div class="col-md-4">
								TITLE <span id="sort0"></span>
							</div>
						</a>
						<a href="" id="sortLink" ng-click="sortArtist()">
							<div class="col-md-2">
								ARTIST <span id="sort1"></span> 
							</div>
						</a>
						<a href="" id="sortLink" ng-click="sortAlbum()">
							<div class="col-md-2">		
								ALBUM <span id="sort2"></span> 
							</div>
						</a>
						<a href="" id="sortLink" ng-click="popularitySort()">
							<div class="col-md-2">
								POPULARITY <span id="sort3"></span>
							</div>
						</a>
						<div class="col-md-1">
							QUEUE
						</div>
						<div class="col-md-1">
							FAVORITE
						</div>

						<hr></hr>
					</div>

					<div class="row" id="searchResult" ng-repeat="track in selectedUser.playlists track by $index">
						<div class="col-md-4" ng-controller="searchCtrl">
							{{track.name}} <a href="" style="color:white" ng-click="player(track.preview_url)"><span class="glyphicon glyphicon-volume-up"></span></a> 
						</div>
						<div class="col-md-2" ng-controller="searchCtrl">
							<a style="color:white" ng-href='#!/artistPage/{{track.artists[0].id}}' ng-click="getAlbum(track.artists[0].id)">{{track.artists[0].name}}</a>
						</div>
						<div class="col-md-2" ng-controller="searchCtrl">
							<a style="color:white" ng-href='#!/albumPage/{{track.album.id}}'>
								{{track.album.name}}
							</a>
						</div>
						<div class="col-md-2" ng-controller="searchCtrl">
							{{track.popularity}}
						</div>
						<div class="col-md-1" ng-controller="searchCtrl">
							<a id="qKnapp" href="" ng-click="queueSong(track)">
								<span class="{{queueSongs(track.id)}}" id="queque{{track.id}}"></span>
							</a>

						</div>
						<div class="col-md-1" ng-controller="searchCtrl">
							<a id="sortLink">
								<span ng-controller="searchCtrl" ng-click="favoriteSong(track)" id="{{track.id}}" class="{{favoriteSongs(track.id)}}"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<ng-include src="'partials/queueList.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
</div>