<div class="container-fluid" id="body2" style="padding-bottom: 10em;">
	<div class="row">
		<!--All profile info i shown here-->
		<div class="col-md-9" id="box2" ng-controller="searchCtrl">
			{{profilePageLoad()}}
			<ng-include src="'partials/header.html'"></ng-include>
			<!--User Favorites, Playlists, Details-->
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-10">
					<!--Favorites-->
					<div class="row" ng-controller="searchCtrl">
						<div class="col-md-12">	
							<h3>Favorite Tracks:</h3>
							<div class="row" id="searchResult" ng-repeat="(keyVal, favSong) in currentUser.favorite_songs" ng-controller="searchCtrl">
								<div class="col-md-4">
									<h5>{{favSong.favorites.name}}
									<a style="color:white" ng-click="player(favSong.favorites.preview_url)">
										<span class="glyphicon glyphicon-volume-up">
										</span>
									</a></h5>	
								</div>
								<div class="col-md-3">
									<h5>{{favSong.favorites.artists[0].name}}</h5>
								</div>
								<div class="col-md-3">
									<h5>{{favSong.favorites.album.name}}</h5>
								</div>
								<div class="col-md-1" ng-controller="searchCtrl">
									<a id="qKnapp" ng-click="queueSong(favSong.favorites)">
										<span class="{{queueSongs(favSong.favorites.id)}}" id="queque{{favSong.favorites.id}}">
										</span>
									</a>
								</div>
								<div class="col-md-1">
									<button id="transparentButton" class="btn btn-xs" ng-click="deleteFavorite(keyVal)"><span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</div>
							<hr>
						</div>
					</div>
					<!--Playlists-->
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<h3 style="padding-left: 0.6em;">Playlists:</h3>
							</div>
							<div class="row" style="display: inline-block; margin:0em; padding:0em;">
								<div ng-repeat="(key, i) in currentUser.playlists" style=" height: 12em; width: 10em; float:left; margin: 1em;">
									<div>	
										<div class="row" style="padding-left: 8em; padding-bottom:1em; margin: 0em;">
								
											<div class="col-md-1">
												<button id="transparentButton" class="btn btn-xs" ng-click="removePlaylist(key)"><span class="glyphicon glyphicon-remove"></span></button>
											</div>
										<a ng-controller="searchCtrl" ng-href="#!/playlist" ng-click="getPlaylist(i.playlists, i.PlaylistName)"></div>
										<div class="row" style="padding-left: 2em; margin: 0em; font-size: 1em;">
											<div ng-repeat="x in i.playlists.slice(0,4)" style="float:left;">
												<img style="height:3em; width:3em;" ng-src="{{x.album.images[0].url}}"></img>
											</div>
										</div>
										<div class="row" style="margin: 0em;">
											<div class="col-md-9" style="padding:0em; padding-left:2em;text-align: left;">
												{{i.PlaylistName}}
											</div>
										</div>
									</div></a>
								</div>
							</div>
							<hr>
						</div>
					</div>

					<!--Friends-->
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<h3 style="padding-left: 0.6em;">Friends:</h3>
							</div>
							<div class="row" ng-repeat="(key, i) in currentUser.friends">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-11" id="playlistname">
											<a id="sortLink" ng-click="userSearch(i.friend.id)" ng-href="#!/friends/{{i.friend.id}}"><h3>{{ i.friend.username }}</h3></a>
										</div>
										<div class="col-md-1">
											<button id="transparentButton" class="btn btn-xs" ng-click="deleteUserFromProfile(key)"><span class="glyphicon glyphicon-remove"></span></button>
										</div>
									</div>
									<hr>
								</div>
							</div>
							<hr>
						</div>
					</div>
					<!--ChangeDetails-->
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<a id="yo" ng-click="userDetails =! userDetails"><h3 style="padding-left: 0.6em;">Userdetails:</h3></a>
							</div>
							<br><br>
							<div class="row" ng-show="userDetails">
								<div class="col-md-4">
									<!--UserName-->
									<div class="row">
										<div class="col-md-4">
											<h4>Username:</h4>
										</div>
										<div class="col-md-8">
											<button type="button" id="transparentButton" class="btn btn-secondary btn-sm btn-block" ng-click="open = !open">{{ currentUser.username }}</button>    
											<div ng-class="{ showMe: open }" class="collapsable">
												<input class="form-control" placeholder="Change username" ng-model="username" ng-required="true">
												<button type="button" id="transparentButton" class="btn btn-secondary btn-sm btn-block" ng-controller="RegController" ng-click="changeUsername(username)">Change</button>
											</div>
										</div>
									</div>
									<hr>
									<!--Email-->
									<div class="row">
										<div class="col-md-4">
											<h4>Email:</h4>
										</div>
										<div class="col-md-8">

											<button type="button" id="transparentButton" class="btn btn-secondary btn-sm btn-block" ng-click="open2 = !open2">{{ currentUser.email }}</button>    
											<div ng-class="{ showMe: open2 }" class="collapsable">
												<input class="form-control" placeholder="Change email" ng-model="email" ng-required="true">
												<button type="button" id="transparentButton" class="btn btn-secondary btn-sm btn-block" ng-controller="RegController" ng-click="changeEmail(email)">Change</button>
											</div>
										</div>
									</div>
									<hr>
									<!--Password-->
									<div class="row">
										<div class="col-md-4">
											<h4>Password:</h4>
										</div>
										<div class="col-md-8">
											<button type="button" id="transparentButton" class="btn btn-secondary btn-sm btn-block" ng-click="open3 = !open3">{{ currentUser.password }}</button>
											<div ng-class="{ showMe: open3 }" class="collapsable">
												<input class="form-control" placeholder="Change password" ng-model="password" ng-required="true">
												<button type="button" id="transparentButton" class="btn btn-secondary btn-sm btn-block" ng-controller="RegController" ng-click="changePassword(password)">Change</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Queuen-->
		<div class="col-md-3">
			<ng-include src="'partials/queueList.html'"></ng-include>
		</div>
	</div>
</div>