<div class="row">
   <div class="container-fluid">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
         <h3  style="text-align: center;">Welcome, please sign in.</h3>
         </br>
         <div class="row">
            <div class="col-md-12">
               <form>
                  <div class="input-group input-group-md"> 
                     <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                     <input id="email" type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                     <input id="password" type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
                  </div>
               </form>
            </div>
         </div>
         </br>


         <div class="col-md-6" id="signInButton" style="text-align: center;">
            <button class="btn" ng-click="login(user)"><h5>Sign-in User</h5></button>
         </div>
         <div class="col-md-6" id="createNewUserButton" style="text-align: center;">
            <button class="btn" ng-click="register(user)"><h5>Create New User</h5></button>
         </div>

         </br></br>
      </div>
   </div>
   <div class="col-md-12" ng-if="error">
      <h4>Error: <strong>{{ message }}</strong></h4>
   </div>
   
</div>